.red{
    background-color: red;
}
.yellow{
    background-color: #ffdd00;
}
.blue{
    background-color: darkblue;
}
.green{
    background-color: darkgreen;
}
.purple{
    background-color: rebeccapurple;
}
.black{
    background-color: black;
}