.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: #464444;
    height: 200px;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content.active {
    transform: scale(1);
}

.modal-title {
    text-align: center;
    background-color: #464444;
    color: white;
    font-size: 30px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    background-color: #464444;
    color: white;
}
.input-container div{
    background-color: #464444
}
.input-container input{
    background-color: white;
    margin: 5px 0 10px 0;
    padding:10px;
    border-radius:10px;
    color: black;
}
.modal-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #464444;
}
.modal-button button{
    background-color: white;
    padding:5px 10px ;
    border-radius:10px;
}